// colors
$primary-color: #B2D1E4;
$secondary-light: #E2F4FE;
$secondary-dark: #5B6569;
$accent-color: #FFDECF;

// fonts
$primary-font: 'Roboto';
$font-color: #5B6569;
$primary-weight: 300;
$large-text-weight: 100;
$large-text: 40px;
$primary-text: 23px;
$small-text: 16px;
