// colors
$primary-color: #AFC4FE;
$secondary-light: white;
$secondary-dark: black;
$accent-color: gold;

// fonts
$primary-font: 'Roboto';
$primary-weight: 300;
$large-text-weight: 100;
$large-text: 40px;
$primary-text: 23px;
$small-text: 16px;
