.job-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



.loading-image{
    animation: roll 3s infinite;
    transform: rotate(30deg);
    margin: auto;
}

@keyframes roll {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
}