@import '../../assets/variables.scss';

.job {
    background-color: #ffffff;
    box-shadow: 7px 7px 8px #2c73a0;
    height: fit-content;
    margin-bottom: 20px;
    padding: 20px;
    font-size: $small-text;
    width: 40%;
    * {
        margin: 8.5px 0;
    }
    button {
        background-color: #B2D1E4;
        border: none;
        display: block;
        font-size: 14px;
        margin: 16px auto;
        padding: 10px 0;
        width: 285px;
    }
    button:hover {
        box-shadow: 1px 1px 8px #B2D1E4;
        cursor: pointer;
    }
}


.job-date {
    font-size: 14px;
    font-weight: $large-text-weight;
    text-align: center;
}

.job-title {
    color: $secondary-dark;
    font-size: 25px;
    font-weight: 800;
    margin: 12px 0;
    text-align: center;
    text-decoration: none;
}

.job-location,
.job-salary,
.job-type {
    font-size: 19px;
    font-weight: $large-text-weight;
}

.job-company {
    margin-top: 28px;
    font-weight: 900;
}

.job-description {
    height: 95px;
    line-height: 24px;
    overflow: hidden;
}

@media screen and (max-width: 850px) {
    .job {
        width: 85%;
    }
  }